html
  head
    title Ant
    link(rel='stylesheet',href="app.css")

  body
    #app

    script(src='app.js')
    script(src='vendor.js')
    script(src='templates.js')
    script.
      require('aco')
